h1{
    text-align: center;
}

p{
    text-align: center;
}

div {
    width: 60%;
    border: 1px solid gray;
    text-align: center;
    padding: 1em;
    margin: auto;
}

#imagePlace {
    width: 40%;
    max-height: 40%;
}

#newImagePlace {
    max-height: 60%;
    max-width: 60%;
}